
^https:\/\/scan-order\.quark\.cn\/api\/member\/v1\/center\? url reject-dict
^https:\/\/open-cms-api\.uc\.cn\/open-cms\? url script-response-body https://raw.githubusercontent.com/JuemingDC/QuantumultX/refs/heads/main/Rewrite/Script/quark_scan.js

hostname = open-cms-api.uc.cn, scan-order.quark.cn
