# > 夸克去广告
# name: 夸克去广告
# description: 移除阅读广告、各页面弹窗及横幅，精简我的页面。
# open_url: https://apps.apple.com/app/id1160172628
# author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# homepage: https://hub.kelee.one
# icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/QuarkBrowser.png

[rewrite_local]
^https:\/\/stars\.shuqireader\.com\/kkios\/render\/load\/resource\/app$ url reject-dict
^https:\/\/stars\.shuqireader\.com\/kkios\/render\/load\/resource\/appConfig$ url reject-dict
^https:\/\/open-cms-api\.quark\.cn\/open-cms\? url script-response-body https://raw.githubusercontent.com/JuemingDC/QuantumultX/refs/heads/main/Rewrite/Script/Quark.js

[mitm]
hostname = open-cms-api.quark.cn, stars.shuqireader.com
